<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visual Skin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

 
<ion-item>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button>ingresar</ion-button>
  </ion-card>
</ion-item>

<br>
<ion-item>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button>ingresar</ion-button>
  </ion-card>
</ion-item>

<br>
<ion-item>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button>ingresar</ion-button>
  </ion-card>
</ion-item>

<br>
<ion-item>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button>ingresar</ion-button>
  </ion-card>
</ion-item>
</ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/foro']">
        <ion-icon name="megaphone-outline"></ion-icon>
        Foro
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/empresas']">
        <ion-icon name="people-outline"></ion-icon>
        Empresas
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="search"></ion-icon>
        Para ti
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/perfil']">
        <ion-icon name="person-circle-outline"></ion-icon>
        Perfil
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/crear']">
        <ion-icon name="construct-outline"></ion-icon>
        Crear
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
